.nav-bar {
  display: flex;
  justify-content: center;

  border: 0;
  border-bottom: 1px lighten($background-color, 15) solid;
  box-shadow: 0 3px 5px lighten($background-color, 5);

  margin-bottom: 10px;

  font-size: 1.1rem;

  .current {
    border-bottom: 1px $primary-color solid;
    //border-left: 1px lighten($background-color, 15) solid;
    //border-right: 1px lighten($background-color, 15) solid;
    //background: lighten($background-color, 10);

    text-shadow: 1px 1px 1px #000000;

    a {
      color: $primary-color;
    }
  }
}

.nav-item {
  $border-width: 1px;

  padding: 0.5rem 1rem;
  border: $border-width $invisible-color solid;

  text-decoration: none;
  list-style: none;

  @include easeOut();

  &:hover {

    a {
      color: $primary-color;
    }

    border-bottom: 1px $primary-color solid;
  }

  a {
    text-decoration: none;
    color: $text-color;
  }
}