@mixin smallScreen {
  @media screen and (max-width: 500px) {
    @content;
  }
}

.card {

  display: flex;
  flex-direction: column;
  align-items: center;

  &-item {

    max-width: 1200px;
    margin: 5px 0;

    display: inline-flex;
    border: 2px lighten($background-color, 10) solid;

    @include smallScreen {
      display: flex;
      flex-direction: column;
    }

    @include easeOut();

    &:hover {
      border: 2px $primary-color solid;
      background: lighten($background-color, 5);
    }

    img {
      object-fit: cover;
      image-rendering: smooth;

      width: 50%;
      flex-shrink: 0;
      @include smallScreen {
        width: 100%;
      }

      &:hover {
        border-color: $primary-color;

        @include easeOut();
      }
    }

    .card-text {
      flex-direction: column;
      padding: 10px;

      .name {
        margin: 2px 0;
        span {
          color: $primary-color;
        }
      }

      .price {
        margin-bottom: 2px;
        span {
          color: $secondary-color;
        }
      }

      .bio-header {
        color: $primary-color;
        margin-bottom: 5px;
      }

      .bio-text {
        padding-left: 10px;
      }
    }
  }
}